
<div>
  <h2>native array with prototype extensions</h2>
  <p>
    <code>native array</code>
    {{#each this.untracked.items as |item|}}
        {{item.name}}
    {{/each}}
  </p>

  <p><code>this.untracked.invokeGreet</code>: {{this.untracked.invokeGreet}}</p>
  <p class="blue"><code>this.untracked.mapGreet</code>: {{this.untracked.mapGreet}}</p>

  <button {{on "click" this.untracked.oldPush}}>old push Jason</button>
  <button {{on "click" this.untracked.push}}>new push Jason</button>
</div>

<div>
  <h2>tracked array (with prototype extensions)</h2>

  <p><code>tracked array</code>
    {{#each this.tracked.items as |item|}}
        {{item.name}}
    {{/each}}
  </p>

  <p><code>this.tracked.invokeGreet</code>: {{this.tracked.invokeGreet}}</p>
  <p class="blue"><code>this.tracked.mapGreet</code>: {{this.tracked.mapGreet}}</p>

  <button {{on "click" this.tracked.oldPush}}>old push Jason</button>
  <button {{on "click" this.tracked.push}}>new push Jason</button>
</div>