<div>
  <label for="methods">Choose methods/props:</label>

  <select id="methods" {{on "change" this.onSelect}}>
    {{#each this.widgets as |widget|}}
      <option value={{widget.name}} selected={{eq widget.name this.selectedWidget.name}}>{{widget.label}}</option>
    {{/each}}
  </select>

  <h1>{{this.selectedWidget.label}}</h1>
  {{component this.selectedWidget.name}}
</div>